<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block style %}
<script>
    $(document).ready(function(){          
      $("#id_username").attr("placeholder", "Username");
      $("#id_password").attr("placeholder", "Password");
    });
</script> 
<style>
html,
body {
  height: 100%;
}
main {
  border: solid;
  padding-top: 21px;
  background-color: #49505740;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="col s12 m6 push-m3 l4 push-l4" style="
    border: 1px;
">
<div class="contentForm loginForm">

    <div style="
    display: flex;
    align-items: center;
    justify-content: center;
">
<a href="{% url 'home' %}"/><img style="height:100px;width:400px;"src={% static 'logo2.png' %} /></a>
</div>
<div style="margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
">
<form method="post">
  {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="form-group">
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    </div>
    <div style="
    display: flex;
    align-items: center;
    justify-content: center;
">
    <button type="submit" class="btn btn-success">Login</button>&nbsp;
  <input type="button" class="btn btn-info" onclick="window.location.href = 'http://127.0.0.1:8000/isanaysay/signup/';" value="Sign Up"/></div>
    <div style="
    display: flex;
    align-items: center;
    justify-content: center;
">
      <p class="mt-2 mb-3 text-muted">© 2019-2020</p>
</div>
</form>
</div>
</div>

{% endblock %}
