{% extends 'base.html' %}
{% block title %}Add Essay{% endblock %}
{% block content %}
	<body>
		<h1>iSanaysay - Add Essay</h1>
		<form role="form" action="" method="POST">
		    {% csrf_token %}
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th>Course Name</th>
						<th>{{ essay_form.course }}</th>
					</tr>
					<tr>
						<th>Essay Name</th>
						<th>{{ essay_form.name }}</th>
					</tr>
					<tr>
						<th>Essay Code</th>
						<th>{{ essay_form.essay_code }}</th>
					</tr>
					<tr>
						<th>Essay Content</th>
						<th>{{ essay_form.content }}</th>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-success">Save</button>
			<a href="{% url 'view-essays' %}" class="btn btn-info">Back</a> 
		</form>
	</body>

{% endblock %}