{% extends 'base.html' %}
{% block title %}My Essays{% endblock %}
{% block content %}
	<div id="parent"><div id="child"><br/><br/>
		<h1>iSanaysay - Add Word</h1>
		<form role="form" action="" method="POST">
		    {% csrf_token %}
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th>Essay Name</th>
						<th>{{ word_form.essay }}</th>
					</tr>
					<tr>
						<th>Word</th>
						<th>{{ word_form.word }}</th>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-success">Save</button>
			<a href="{% url 'view-essays' %}" class="btn btn-info">Back</a> 
		</form>
	</div></div>
{% endblock %}