<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block style %}
<script>
    $(document).ready(function(){ 
      document.getElementById("home").classList.add("active");
      document.getElementById("navs1").classList.remove("active");
      document.getElementById("navt1").classList.remove("active");
      document.getElementById("navt2").classList.remove("active");
      document.getElementById("navt3").classList.remove("active");
   });
</script>
<style>
.btn-success{
  padding-top: 3px;
  padding-bottom: 3px;
}
</style>
{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image: url({% static 'homepage_banner.png' %}); width:100%;background-position: center; background-repeat: no-repeat; background-size: cover; height:374px;padding-bottom:0px;margin-bottom:0px;">
    </div>
  <div style="
    background-image: url({% static '2874398.jpg' %});
    padding-bottom: 16px;background-position: left; background-repeat: no-repeat; background-size: cover; 
    ">
    <div class="container" style="max-width:90%;">
      <br/><br/>
      <h5 style="font-size:2rem;">iSanaysay Features</h5>
      <hr/>

 <table style="width: 100%;margin: 0 auto;">
<tbody>
<tr style="height: 250px;">
<td style="width: 50%;">
          <img style="height:100%;width:100%;" src="{% static 'spelling_bg3.png' %}" alt=""></td>
<td style="width: 50%;">
        <div class="col-md-12">
          <h4 style="text-align:center;font-size:2.5rem;">Spelling Checking</h4>
          <p style="text-align:justify;font-size:1.25rem;">This feature is capable of detecting any spelling error found on the essay of the student. </p>
        </div>
</td>
</tr>
<tr style="height: 250px;">
<td style="width: 50%;">
        <div class="col-md-12">
          <h4 style="text-align:center;font-size:2.5rem;">Grammar Checking</h4>
          <p style="text-align:justify;font-size:1.25rem;">This application has a grammar checking feature which automatically checks the grammar of the essay in order to know the consistency. </p>
          <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
       </div></td>
<td style="width: 50%;"><img style="height:100%;width:100%;max-width: 700px;max-height: 450px;" src="{% static 'grammar_bg.png' %}" alt="" ></td>
</tr>
<tr style="height: 250px;">
<td style="width: 50%;"><img style="height:100%;width:100%;max-width: 700px;max-height: 450px;" src="{% static 'content_bg2.png' %}" alt="">
</td>
<td style="width: 50%;">
        <div class="col-md-12">
          <h4 style="text-align:center;font-size:2.5rem;">Content of the Essay</h4>
          <p style="text-align:justify;font-size:1.25rem;">This feature is capable to know whether the content of the essay is on the topic given by the teacher through keywords that is relatively found on any passage of the essay’s content.</p>
        </div>
</td>
</tr>

{% if user.is_authenticated %}
{% else %}
<tr style="height: 35px;">
<td style="width: 50%;">&nbsp;</td>
<td style="width: 50%;">&nbsp;</td>
</tr>
<tr style="height: 70px;background-color: rgba(255,255,255,0.4);width: 70%;">
<td style="width: 30%; padding-left: 30px;"><div class="col-md-12" style="margin-left:auto; margin-right:auto; max-width:530px;"><img style="height:240px;max-height:240px;width:240px;max-width:240px;" src="{% static 'teacher.png' %}" alt=""> <a class="btn btn-success btn-lg" href="{% url 'login' %}" role="button" style="font-size:2rem;">Login Here</a></div></td>
<td style="width: 30%;padding-right: 30px;"><div class="col-md-12" style="margin-left:auto; margin-right:auto; max-width:530px;"><img style="height:240px;width:240px;" src="{% static 'student.png' %}" alt=""> <a class="btn btn-success btn-lg" href="{% url 'signup' %}" role="button" style="font-size:2rem;">Sign Up Here</a></div></td>

</tr>
<tr>
<tr style="height: 35px;">
<td style="width: 50%;">&nbsp;</td>
<td style="width: 50%;">&nbsp;</td>
</tr>
{% endif %}
<td style="width: 50%;">
        <div style="display: inline-block;font-size:1.25rem;" class="col-md-12">
          For more details
          <h4 style="font-size:2rem;"> Email Us: </h4>
          <p style="font-size:1.25rem;"> <b>Sheila Mae Dela Fuente</b>: qsheidelafuente@gmail.com <br/>
          <b>Joshua Jamela</b>: josh.jamela@gmail.com <br/>
          <b>Charlotte Raquel</b>: charlotteraquel27@gmail.com </p>
        </div>
</td>
<td style="width: 50%;">
<div style="width:100%; margin-left:auto; margin-right:auto; min-height:300px;">          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.5159968983335!2d121.05930811441647!3d14.626625889785942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b796aecb8763%3A0xaa026ea7350f82e7!2sTechnological%20Institute%20of%20the%20Philippines%2C%20Inc.!5e0!3m2!1sen!2sph!4v1576630703208!5m2!1sen!2sph" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
</tr>
</tbody>
</table>
</div>
<!-- DivTable.com -->

{% endblock %}