{% extends 'base.html' %}
{% block style %}
<script>
    $(document).ready(function(){ 
      document.getElementById("home").classList.remove("active");
      document.getElementById("navt1").classList.remove("active");
      document.getElementById("navt2").classList.remove("active");
      document.getElementById("navt3").classList.add("active");
    });
</script>
{% endblock %}
{% block title %}Essay Submissions{% endblock %}
{% block content %}
	<div id="parent"><div id="child"><br/><br/><br/>
		<h1><span>LIST OF ESSAY SUBMISSIONS</span></h1> <br />
    <div style="
    background-color: lightgray;
    border: 1px solid;
    max-width: 1170px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
"><br>
    <h2 style="
    float: left;
    margin-left: 27px;
">Essays for checking</h2>
    <div style="width:100%">
    <div class="card-deck" style="display:inline-flex">
	<div class="card-deck">
				{% for essay_submission in essay_submissions %}
				{% ifequal essay_submission.isChecked 'N' %}
  <div class="card border-danger mb-3" style="max-width:350px;">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-header border-danger" ><div style="float:left;" >
      <a href="{% url 'view-essay-submission-for-checking' essay_submission.id %}"><h5 class="card-title">{{ essay_submission.essay }}</h5> </a></div></div>
    <div class="card-body">
      <p class="card-text" style="float:left;margin-bottom:0px;text-align: left;"><b>Course:</b> {{ essay_submission.essay.course }}</p><br/>
      <p class="card-text" style="float:left;margin-bottom:0px;text-align: left;"><b>Student:</b> {{ essay_submission.student }}</p>
      <p class="card-text" style="float:left;margin-bottom:0px;text-align: left;"><b>Submitted Date:</b> {{ essay_submission.submitted_date }}</p>
      <p class="card-text" style="float:left; text-align: left;"><b>Schedule:</b> {{ essay_submission.essay.start_date_time }} to {{ essay_submission.essay.end_date_time }}</p>
      <p class="card-text" style="float:left; margin-bottom:0px;clear:both;"><b>Total Score:</b> {{ essay_submission.get_total_score }}%</p><br/><br/><br/><br/>
      <p class="card-text" style="float:left; margin-bottom:0px;clear:both;"><b>Grammar Score ({{essay_submission.essay.criteria_no_1}}%):</b> {{ essay_submission.grammar_score }}%</p>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left;"><b>Spelling Score ({{essay_submission.essay.criteria_no_2}}%):</b> {{ essay_submission.spelling_score }}%</p>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left;"><b>Content Score ({{essay_submission.essay.criteria_no_3}}%):</b> {{ essay_submission.content_score }}%</p>
    </div>
    <div class="card-footer border-danger">
      <small class="text-muted">Not yet checked.</small>
    </div>
  </div>
  {% endifequal %}
	{% ifequal essay_submission.isChecked 'Y' %}
  <div class="card border-success mb-3" style="max-width:350px;">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-header border-success" ><div style="float:left;" ><h5 class="card-title">{{ essay_submission.essay }}</h5></div></div>
    <div class="card-body">
      <p class="card-text" style="float:left;margin-bottom:0px;text-align: left;"><b>Course:</b> {{ essay_submission.essay.course }}</p><br/>
      <p class="card-text" style="float:left;margin-bottom:0px;text-align: left;"><b>Student:</b> {{ essay_submission.student }}</p>
      <p class="card-text" style="float:left;margin-bottom:0px;text-align: left;"><b>Submitted Date:</b> {{ essay_submission.submitted_date }}</p>
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Checked Date:</b> {{ essay_submission.checked_date }}</p><br/><br/><br/><br/>
      <p class="card-text" style="float:left; margin-bottom:0px;clear:both;"><b>Total Score:</b> {{ essay_submission.get_total_score }}%</p><br/>
      <p class="card-text" style="float:left; margin-bottom:0px;"><b>Grammar Score ({{essay_submission.essay.criteria_no_1}}%):</b> {{ essay_submission.grammar_score }}%</p>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left;"><b>Spelling Score ({{essay_submission.essay.criteria_no_2}}%):</b> {{ essay_submission.spelling_score }}%</p>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left;"><b>Content Score ({{essay_submission.essay.criteria_no_3}}%):</b> {{ essay_submission.content_score }}%</p>

    </div>
    <div class="card-footer border-success">
      <small class="text-muted">Checked on {{ essay_submission.checked_date }}.</small>
    </div>
  </div>
  {% endifequal %}
        {% if forloop.counter|divisibleby:"3" %}
      </div> </div><div style="width:100%"><div class="card-deck" style="display:inline-flex">
        {% endif %}
        {% if forloop.last %}
        {% if forloop.counter|divisibleby:"3" %}
      </div> </div><div style="width:100%"><div class="card-deck" style="display:inline-flex">
        {% endif %}
        {% if forloop.last %}
        {% if forloop.counter|add:-2|divisibleby:"3" %}
  <div class="card border-light mb-3" style="min-width:350px;max-width:350px;z-index:-100;"></div>
        {% endif %}
        {% if forloop.counter|add:-1|divisibleby:"3" %}
  <div class="card border-light mb-3" style="min-width:350px;max-width:350px;z-index:-100;"></div>
  <div class="card border-light mb-3" style="min-width:350px;max-width:350px;z-index:-100;"></div>
        {% endif %}
        {% endif %}
        {% endif %}
  {% endfor %}
  </div> </div></div>
</div>
	</div></div>
{% endblock %}