{% extends 'base.html' %}
{% block style %}
<script>
    $(document).ready(function(){ 
	    document.getElementById("home").classList.remove("active");
	    document.getElementById("navt1").classList.add("active");
	    document.getElementById("navt2").classList.remove("active");
	    document.getElementById("navt3").classList.remove("active");

  {% if messages %}
        $("#deleteModal").modal('show');
{% endif %}

  	});
</script>
{% endblock %}
{% block title %}My Courses{% endblock %}
{% block content %}

	<div id="parent"><div id="child"><br/><br/><br/>
		<h1><span>LIST OF COURSES</span></h1><br/>
		<a href="{% url 'add-course' %}" class="btn btn-success">Add Course</a> <br /><br />

		<table class="ui-responsive table table-striped table-bordered">
			<thead>
				<tr>
					<th style="text-align:left;">Course Name</th>
					<th style="text-align:left;">Course Section</th>
					<th style="text-align:left;">Units</th>
					<th style="text-align:left;">Course Description</th>
					<th style="text-align:left;">Start Date</th>
					<th style="text-align:left;">Enrollment List</th>
					<th style="text-align:left;">Update Course</th>
					<th style="text-align:left;">Delete Course</th>
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
				<tr>
					<td style="text-align:left;">{{ course.name }}</td>
					<td style="text-align:left;">{{ course.course_code }} - {{ course.course_detail }}</td>
					<td style="text-align:left;">{{ course.course_unit }} </td>
					<td style="text-align:left;">{{ course.course_description }}</td>
					<td style="text-align:left;">{{ course.start_date }}</td>
					<td style="text-align:left;">
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal{{ course.id }}">Enrollments</button>
					</td>
					<td style="text-align:left;">
						<a href="{% url 'update-course' course.id %}" class="btn btn-primary">Update</a>
					</td>
					<td style="text-align:left;">
						<a href="{% url 'delete-course' course.id %}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan=9>No Courses yet</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
<!-- Trigger the modal with a button -->
  

				{% for course in courses %}
  <!-- Modal -->
  <div class="modal fade" id="myModal{{course.id}}" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="text-align:center;">
          <h4 class="modal-title" style="margin: auto;">{{ course.name }}</h4>
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        </div>
        <div class="modal-body">
          <p >List of Enrollees</p>
          <ol style="text-align:left;">
          	{% for student in course.students.all|dictsort:"last_name" %}
					<li>{{ student }}</li>
			{% endfor %}
		</ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  {% endfor %}

	</div></div>			
{% endblock %}