{% extends 'base.html' %}
{% block title %}My Essays{% endblock %}
{% block content %}
	<div id="parent"><div id="child"><br/><br/>

		<h1>List of Essays</h1>
		<a href="{% url 'add-essay' %}" class="btn btn-success">Add Essay</a> <br /><br />

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Course Name</th>
					<th>Essay Name</th>
					<th>Maximum Length</th>
					<th>Duration</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for essay in essays %}
				<tr>
					<td>{{ essay.course.name }}</td>
					<td>{{ essay.name }}</td>
					<td>{{ essay.maximum_length }}</td>
					<td>{{ essay.duration }}</td>
					<td>{{ essay.start_date_time }}</td>
					<td>{{ essay.end_date_time }}</td>
					<td>
						<a href="{% url 'view-essay' essay.id %}" class="btn btn-info">View</a>
					</td>
					<td>
						<a href="{% url 'update-essay' essay.id %}" class="btn btn-primary">Update</a>
					</td>
					<td>
						<a href="{% url 'delete-essay' essay.id %}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan=9>No Essays yet</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div></div>
{% endblock %}