{% extends 'base.html' %}
{% block title %}My Enrollments{% endblock %}
{% block content %}
	<div id="parent"><div id="child"><br/><br/>
		<h1>List of Essay Submissions</h1><br/><br/>
    <h2>Essays not submitted</h2><br/><br/>
				{% for essay in essays %}
        {% if essay.is_ongoing %}
  <div class="card border-warning mb-3" style="max-width:350px;">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-header border-warning" ><a style="float:left;" href="{% url 'add-essay-submission' essay.id %}"><h5 class="card-title">{{ essay.name }}</h5> </a></div>
    <div class="card-body">
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Course:</b> {{ essay.course.name }}</p><br/>
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Teacher:</b> {{ essay.course.teacher }}</p><br/>
      <p class="card-text" style="float:left; text-align: left;"><b>Schedule:</b> {{ essay.start_date_time }} to {{ essay.end_date_time }}</p>
    </div>
    <div class="card-footer border-warning">
      <small class="text-muted" style="float:left;">Status: Ongoing.</small>
    </div>
  </div>
        {% elif essay.is_past_due %}
  <div class="card border-danger mb-3" style="max-width:350px;">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-header border-danger" ><div style="float:left;" ><h5 class="card-title">{{ essay.name }}</h5> </div></div>
    <div class="card-body">
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Course:</b> {{ essay.course.name }}</p><br/>
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Teacher:</b> {{ essay.course.teacher }}</p><br/>
      <p class="card-text" style="float:left; text-align: left;"><b>Schedule:</b> {{ essay.start_date_time }} to {{ essay.end_date_time }}</p>
    </div>
    <div class="card-footer border-danger">
      <small class="text-muted" style="float:left;">Status: Did not submit on time.</small>
    </div>
  </div>
  {% else %}
  <div class="card border-secondary mb-3" style="max-width:350px;">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-header border-secondary" ><div style="float:left;" ><h5 class="card-title">{{ essay.name }}</h5> </div></div>
    <div class="card-body">
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Course:</b> {{ essay.course.name }}</p><br/>
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Teacher:</b> {{ essay.course.teacher }}</p><br/>
      <p class="card-text" style="float:left; text-align: left;"><b>Schedule:</b> {{ essay.start_date_time }} to {{ essay.end_date_time }}</p>
    </div>
    <div class="card-footer border-secondary">
      <small class="text-muted" style="float:left;">Status: Not yet started.</small>
    </div>
  </div>
        {% endif %}
        {% empty %}
        <h5> No ongoing essays yet. </h5>
  {% endfor %}
    <h2>Submitted Essays</h2><br/><br/>
    {% for essay_submission in essay_submissions %}
        {% if not essay_submission.checked_submission %}
  <div class="card border-primary mb-3" style="max-width:350px;">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-header border-primary" ><div style="float:left;" ><h5 class="card-title">{{ essay_submission.essay.name }}</h5> </div></div>
    <div class="card-body">
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Course:</b> {{ essay_submission.essay.course.name }}</p><br/>
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Teacher:</b> {{ essay_submission.essay.course.teacher }}</p><br/>
      <p class="card-text" style="float:left; text-align: left;"><b>Schedule:</b> {{ essay_submission.essay.start_date_time }} to {{ essay_submission.essay.end_date_time }}</p>
    </div>
    <div class="card-footer border-primary">
      <small class="text-muted" style="float:left;">Status: Submitted for checking.</small>
    </div>
  </div>

        {% else %}
  <div class="card border-success mb-3" style="max-width:350px;">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-header border-success" ><div style="float:left;" ><h5 class="card-title">{{ essay_submission.essay.name }}</h5> </div></div>

    <div class="card-body">
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Course:</b> {{ essay_submission.essay.course.name }}</p><br/>
      <p class="card-text" style="float:left;margin-bottom:0px;"><b>Teacher:</b> {{ essay_submission.essay.course.teacher }}</p><br/>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left; clear:both;"><b>Submitted Date:</b> {{ essay_submission.submitted_date }}</p><br/><br/>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left;"><b>Total Score:</b> {{ essay_submission.get_total_score }}%</p>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left;"><b>Grammar Score ({{essay_submission.essay.criteria_no_1}}%)::</b> {{ essay_submission.grammar_score }}%</p>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left;"><b>Spelling Score ({{essay_submission.essay.criteria_no_2}}%)::</b> {{ essay_submission.spelling_score }}%</p>
      <p class="card-text" style="float:left; margin-bottom:0px;text-align: left;"><b>Content Score ({{essay_submission.essay.criteria_no_3}}%):</b> {{ essay_submission.content_score }}%</p>
    </div>
    <div class="card-footer border-success">
      <small class="text-muted">Status: Checked already.</small>
    </div>

        {% endif %}
        {% empty %}
        <h5> No essay submitted yet. </h5>
        {% endfor %}

        
</div>
	</div></div>
{% endblock %}