{% extends 'base.html' %}
{% block title %}My Courses{% endblock %}
{% block content %}

	<div id="parent"><div id="child"><br/><br/>
		<h1>List of Courses</h1>
		<a href="{% url 'add-course' %}" class="btn btn-success">Add Course</a> <br /><br />

		<table  class="ui-responsive table table-striped table-bordered">
			<thead>
				<tr>
					<th>Course Name</th>
					<th>Course Section</th>
					<th>Units</th>
					<th>Course Description</th>
					<th>Start Date</th>
					<th>Enrollment List</th>
					<th>Update Course</th>
					<th>Delete Course</th>
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
				<tr>
					<td>{{ course.name }}</td>
					<td>{{ course.course_code }} - {{ course.course_detail }}</td>
					<td>{{ course.course_unit }} </td>
					<td>{{ course.course_description }}</td>
					<td>{{ course.start_date }}</td>
					<td>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal{{ course.id }}">Enrollments</button>
					</td>
					<td>
						<a href="{% url 'update-course' course.id %}" class="btn btn-primary">Update</a>
					</td>
					<td>
						<a href="{% url 'delete-course' course.id %}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan=9>No Courses yet</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
<!-- Trigger the modal with a button -->
  

				{% for course in courses %}
  <!-- Modal -->
  <div class="modal fade" id="myModal{{course.id}}" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ course.name }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>List of Enrollees</p>
          <ol>
          	{% for student in course.students.all|dictsort:"last_name" %}
					<li>{{ student }}</li>
			{% endfor %}
		</ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  {% endfor %}
	</div></div>			
{% endblock %}