{% extends 'base.html' %}
{% block title %}My Enrollments{% endblock %}
{% block content %}
	<div id="parent"><div id="child"><br/><br/>
		<h1>List of Essay Submissions</h1>
		<a href="{% url 'add-essay-submission' %}" class="btn btn-success">Submit Essay</a> <br /><br />

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Essay Submission ID</th>
					<th>Student Name</th>
					<th>Course Name</th>
					<th>Submitted Date</th>
					<th>View Submission</th>
					<th>Edit Submission</th>
					<th>Delete Submission</th>
				</tr>
			</thead>
			<tbody>
				{% for essay_submission in essay_submissions %}
				<tr>
					<td>{{ essay_submission.id }}</td>
					<td>{{ essay_submission.student }}</td>
					<td>{{ essay_submission.essay.course }}</td>
					<td>{{ essay_submission.submitted_date }}</td>
					<td>
						<a href="{% url 'view-essay-submission' essay_submission.id %}" class="btn btn-primary">View</a>
					</td>
					<td>
						<a href="{% url 'update-essay-submission' essay_submission.id %}" class="btn btn-primary">Update</a>
					</td>
					<td>
						<a href="{% url 'delete-essay-submission' essay_submission.id %}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan=7>No Enrollments yet</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div></div>
{% endblock %}