{% extends 'base.html' %}
{% block style %}
<script>
    $(document).ready(function(){ 
	    document.getElementById("home").classList.remove("active");
	    document.getElementById("navt1").classList.remove("active");
	    document.getElementById("navt2").classList.remove("active");
	    document.getElementById("navt3").classList.remove("active");
  		{% if messages %}
        $("#deleteModal").modal('show');
		{% endif %}
  	});
</script>
{% endblock %}
{% block title %}Change Password{% endblock %}
{% block content %}
	<div id="parent"><div id="child"><br/><br/><br/>
		<h1><span>CHANGE PASSWORD</span></h1><br/>

		{{ form.errors }}

		<form class="sample" method="POST" action="{% url 'password-change' %}">
		    {% csrf_token %}
<table class="table table-bordered table-striped" style="max-width: 477px; margin-left: auto; margin-right: auto;">
				<tbody>
					<tr>
						<th style="text-align:left;">{{ form.old_password.label }}</th>
						<th style="text-align:left;">{{ form.old_password }}</th>
					</tr>
					<tr>
						<th style="text-align:left;">{{ form.new_password1.label }}</th>
						<th style="text-align:left;">{{ form.new_password1 }}</th>
					</tr>
					<tr>
						<th style="text-align:left;">{{ form.new_password2.label }}</th>
						<th style="text-align:left;">{{ form.new_password2 }}</th>
					</tr>
				</tbody>
</table>
		    <button type="submit" class="btn btn-success">Change password</button>
			<a href="{% url 'home' %}" class="btn btn-info">Back</a> 
		</form>
</div></div>

{% endblock %}