{% extends 'base.html' %}
{% block style %}
<script>
    $(document).ready(function(){ 
	    document.getElementById("home").classList.remove("active");
	    document.getElementById("navt1").classList.remove("active");
	    document.getElementById("navt2").classList.add("active");
	    document.getElementById("navt3").classList.remove("active");
  	});
	$("#id_start_date_time_0").datepicker();
</script>
{% endblock %}
{% block title %}Update Essay{% endblock %}
{% block content %}
	<div id="parent"><div id="child"><br/><br/><br/>
		<h1><span>UPDATE ESSAY</span></h1><br/>
		<form role="form" action="" method="POST">
		    {% csrf_token %}
			<table class="table table-bordered table-striped"  style="
    max-width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
">
				<tbody>
					<tr>
						<th>Course Name</th>
						<th>{{ essay_form.course }}</th>
					</tr>
					<tr>
						<th>Essay Name</th>
						<th>{{ essay_form.name }}</th>
					</tr>
					<tr>
						<th>Essay Description</th>
						<th>{{ essay_form.essay_description }}</th>
					</tr>
					<tr>
						<th>Essay Code</th>
						<th>{{ essay_form.essay_code }}</th>
					</tr>
					<tr>
						<th>Maximum Length</th>
						<th>{{ essay_form.maximum_length }}</th>
					</tr>
					<tr>
						<th>Start Date and Time</th>
						<th>{{ essay_form.start_date_time }}</th>
					</tr>
					<tr>
						<th>End Date and Time</th>
						<th>{{ essay_form.end_date_time }}</th>
					</tr>
					<tr>
						<th>Word Content for the Essay</th>
						<th>{{ essay_form.words }}</th>
					</tr>
					<tr>
						<th>Grammar Checking Percentage</th>
						<th>{{ essay_form.criteria_no_1 }}</th>
					</tr>
					<tr>
						<th>Spelling Checking Percentage</th>
						<th>{{ essay_form.criteria_no_2 }}</th>
					</tr>
					<tr>
						<th>Content of the Essay Percentage</th>
						<th>{{ essay_form.criteria_no_3 }}</th>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-success">Save</button>
			<a href="{% url 'view-essays' %}" class="btn btn-info">Back</a> 
		</form>
	</div></div>

{% endblock %}