{% extends 'base.html' %}
{% block title %}Update Courses{% endblock %}
{% block content %}
	<div id="parent"><div id="child"><br/><br/>
		<h1>iSanaysay - Update Course</h1>
		<form role="form" action="" method="POST">
		    {% csrf_token %}
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th>Course Name</th>
						<th>{{ course_form.name }}</th>
					</tr>
					<tr>
						<th>Course Code</th>
						<th>{{ course_form.course_code }}</th>
					</tr>
					<tr>
						<th>Course Description</th>
						<th>{{ course_form.course_description }}</th>
					</tr>
					<tr>
						<th>Course Details</th>
						<th>{{ course_form.course_detail }}</th>
					</tr>
					<tr>
						<th>Number of Units</th>
						<th>{{ course_form.course_unit }}</th>
					</tr>
					<tr>
						<th>Semester</th>
						<th>{{ course_form.course_semester }}</th>
					</tr>
					<tr>
						<th>School Year</th>
						<th>{{ course_form.course_school_year }}</th>
					</tr>
					<tr>
						<th>Course Start Date</th>
						<th>{{ course_form.start_date }}</th>
					</tr>
					<tr>
						<th>Course End Date</th>
						<th>{{ course_form.end_date }}</th>
					</tr>
					<tr>
						<th>Students Enrolled</th>
						<th>{{ course_form.students }}</th>
					</tr>{{ course_form.teacher }}
				</tbody>
			</table>
			<button type="submit" class="btn btn-success">Save</button>
			<a href="{% url 'view-courses' %}" class="btn btn-info">Back</a>  
		</form>
	</div></div>
{% endblock %}