{% extends 'base.html' %}

{% block style %}
<script>
    $(document).ready(function(){ 
    	$('#home').prop("active", false);
    	$('#navs1').prop("active", true);
   });
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
{% endblock %}
{% block title %}View Essay{% endblock %}
{% block content %}

<p id="demo"></p>
	<div id="parent"><div id="child"><br/><br/>
		<h1>iSanaysay - View Essay Submission</h1>
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th>Course Name</th>
						<th>{{ essay_submission.essay.course }}</th>
					</tr>
					<tr>
						<th>Essay Name</th>
						<th>{{ essay_submission.essay }}</th>
					</tr>
					<tr>
						<th>Essay Code</th>
						<th>{{ essay_submission.essay.essay_code }}</th>
					</tr>
					<tr>
						<th>Essay Content</th>
						<th>{{ essay_submission.content }}</th>
					</tr>
				</tbody>
			</table><br/>
			<h2> Mispelled Words</h2>
			{% for words in mispelled_list %}
				{% for x in words %}
					{% if forloop.first %}

					Mispelled Word: {{ x }}<br/>
					{% endif %}
					{% if forloop.last %}

					Suggested Word/s: {{ x }}<br/><br/>
					{% endif %}
				{% endfor %}
			{% endfor %}

			<h2> Frequency of Words</h2>
			Commond Words: {{ common_words }}<br/>
			Unique Words: {{ unique_words }}<br/><br/>
		<a href="{% url 'view-essay-submissions' %}" class="btn btn-info">Back</a> 
	</div></div>

{% endblock %}