{% extends 'base.html' %}
{% block title %}Add Essay{% endblock %}
{% block content %}
	<body>
		<h1>iSanaysay - View Essay</h1>
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th>Course Name</th>
						<th>{{ essay.course }}</th>
					</tr>
					<tr>
						<th>Essay Name</th>
						<th>{{ essay.name }}</th>
					</tr>
					<tr>
						<th>Essay Code</th>
						<th>{{ essay.essay_code }}</th>
					</tr>
					<tr>
						<th>Maximum Length</th>
						<th>{{ essay.maximum_length }}</th>
					</tr>
					<tr>
						<th>Duration</th>
						<th>{{ essay.duration }}</th>
					</tr>
					<tr>
						<th>Start Date</th>
						<th>{{ essay.start_date_time }}</th>
					</tr>
					<tr>
						<th>End Date</th>
						<th>{{ essay.end_date_time }}</th>
					</tr>
				</tbody>
			</table><br/>
		<a href="{% url 'view-essays' %}" class="btn btn-info">Back</a> 
	</body>

{% endblock %}